.container{
    height: 50px;
    margin-left: 220px;
  }
  .apura{
    height: 455px

  }
  .candidato{
    height: 200px;
  }
  .outro{
    height: 115px;
  }

  /*GRID*/
.grid{
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  grid-template-rows: 500px;
  grid-template-areas: "g1 g2 g2"
                       "g1 g2 g2";
}
.g1{
  grid-area: g1;
}
.g2{
  grid-area: g2;
  height: 500px;
  margin-left: 0px;
  
}
.g3{
  grid-area: g3;
}